<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AGPMS_application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AGPMS_application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AGPMS_application.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="dbname" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="confi_stat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ondutycamera" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maingate_camera" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xampp_pathfile" serializeAs="String">
                <value>C:\xampp\xampp-control.exe</value>
            </setting>
            <setting name="cust_msg_1stline" serializeAs="String">
                <value />
            </setting>
            <setting name="gsm_port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="cust_msg_2ndline" serializeAs="String">
                <value />
            </setting>
            <setting name="last_use" serializeAs="String">
                <value />
            </setting>
            <setting name="guard_id" serializeAs="String">
                <value />
            </setting>
            <setting name="arduino_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="TmpTemperature" serializeAs="String">
                <value />
            </setting>
            <setting name="line1_msg_entry" serializeAs="String">
                <value>Hello Mr/Mrs </value>
            </setting>
            <setting name="line2_msg_entry" serializeAs="String">
                <value>, Praise be Jesus and Mary! Your son/daughter</value>
            </setting>
            <setting name="line3_msg_entry" serializeAs="String">
                <value>has entered the SRCB campus at</value>
            </setting>
            <setting name="line4_msg_entry" serializeAs="String">
                <value>with a body temperature of </value>
            </setting>
            <setting name="line5_msg_entry" serializeAs="String">
                <value>. Thank you.</value>
            </setting>
            <setting name="from_msg_entry" serializeAs="String">
                <value>St. Rita's College of Balingasag</value>
            </setting>
            <setting name="Camera_status" serializeAs="String">
                <value />
            </setting>
            <setting name="Current_UserExit" serializeAs="String">
                <value />
            </setting>
            <setting name="Txt_msgentro_exit" serializeAs="String">
                <value />
            </setting>
            <setting name="Txt_msg_afterStudent_name_exit" serializeAs="String">
                <value />
            </setting>
            <setting name="Txt_msg_afterdate_exit" serializeAs="String">
                <value />
            </setting>
            <setting name="Txt_endmsg_exit" serializeAs="String">
                <value />
            </setting>
            <setting name="guard_on_duty" serializeAs="String">
                <value />
            </setting>
            <setting name="toogle_restrict18" serializeAs="String">
                <value />
            </setting>
            <setting name="youngest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Oldest" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Txt_intro_restrict_msg" serializeAs="String">
                <value>Praise be Jesus and Mary! Your child</value>
            </setting>
            <setting name="Txt_after_restrict_msg" serializeAs="String">
                <value>is not permitted to enter
the school campus due to age restriction from ages</value>
            </setting>
            <setting name="Txt_end_restrict_msg" serializeAs="String">
                <value>and below.
Please follow government pandemic protocals and keep your child safe.

This is an automated message, please do not reply.</value>
            </setting>
        </AGPMS_application.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AGPMS_application.Properties.Settings>
            <setting name="arduino_port" serializeAs="String">
                <value>COM3</value>
            </setting>
        </AGPMS_application.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>